
body {
    font-family: "Muli", "Helvetica", "Tahoma", "Geneva", "Arial", 'PingFang TC', 微軟正黑體, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Montserrat", "Helvetica", "Tahoma", "Geneva", "Arial", 'PingFang TC', 微軟正黑體, sans-serif;
}

/* LOGO */
#logo::after {
    content: "ASIKART";
    display: inline-block;
    font-size: 3em;
    width: 100%;
    height: 50px;
    color: white;
}

#logo svg {
    display: none;
}

#header a.external {
    background: none;
}

.langswitcher {
    position: static !important;
    transform: translateY(0%) !important;
}
